<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.insperity.escmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/flavor_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.OnboardingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.PunchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".view.activity.OrgItemsSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.TimeOffRequestsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeOffRequestDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.TimeOffRequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeOffSubmitActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.TimeOffRequestsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.TimeOffApprovalsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeOffApprovalDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.TimeOffApprovalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeOffApprovalResolutionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.TimeOffApprovalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AboutWebActivity"
            android:parentActivityName=".view.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeEntryMenuActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeEntryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeEntryDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TimeEntrySupervisorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".view.service.PunchDataService" />
        <service
            android:name=".view.service.OfflinePunchJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>